In [1]:
import numpy as np
import pandas as pd

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [3]:
folder = "<INSERT FILE PATH>"
filepath = folder + r"\rainfall_scrapped_weather_total_gov.csv"

scrapped_df = pd.read_csv(filepath)
scrapped_df.head(10)

,Unnamed: 0,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,0,Kampong Bahru,2000,1,1,3.0,,,,,,,,
1,1,Kampong Bahru,2000,1,2,6.8,,,,,,,,
2,2,Kampong Bahru,2000,1,3,1.9,,,,,,,,
3,3,Kampong Bahru,2000,1,4,0.4,,,,,,,,
4,4,Kampong Bahru,2000,1,5,30.5,,,,,,,,
5,5,Kampong Bahru,2000,1,6,8.1,,,,,,,,
6,6,Kampong Bahru,2000,1,7,0.3,,,,,,,,
7,7,Kampong Bahru,2000,1,8,0.0,,,,,,,,
8,8,Kampong Bahru,2000,1,9,2.6,,,,,,,,
9,9,Kampong Bahru,2000,1,10,5.6,,,,,,,,

In [6]:
# Observe that the invalid characters are "\x97"
scrapped_df.iloc[2]["Highest 30 Min Rainfall (mm)"]

'\x97'

In [9]:
# Perform data cleaning by replacing the bad values with np.nan
df = scrapped_df.replace('\x97', np.nan)

In [10]:
df.head()

,Unnamed: 0,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,0,Kampong Bahru,2000,1,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kampong Bahru,2000,1,2,6.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kampong Bahru,2000,1,3,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Kampong Bahru,2000,1,4,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Kampong Bahru,2000,1,5,30.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Save the cleaned data for manual inspection
save_path = "<INSERT FILE PATH>"
df.to_csv(save_path)